<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OPenEDG Login Suite" parallel="false">
    
    <test name="OPenDGE Login">
        <classes>
            <class name="Tests.LoginPTest"></class>
        </classes>
    </test>
    <test name="invalid OPenDGE Login">
        <classes>
            <class name="Tests.LoginPTest"></class>
        </classes>
    </test>
    
    
</suite>